@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p,
h1,
h2,
h3,
h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

input {
    border: none;
}


/* ########## PRODUCTOS ############# */

.imagen_deco {
    height: 300px;
    background-image: url(../assets/img/sli4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.seccion_productos {
    background-color: white;
    height: auto;
}

.area-banner {
    grid-area: ban;
}

.area-zapatos {
    grid-area: zap;
}

.area-mocasines {
    grid-area: moc;
}

.area-caperas {
    grid-area: camp;
}




@media (min-width: 768px) {

    .main-productos {
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 65% auto;
        grid-template-rows: repeat(3, auto);
        gap: 5px 5px;

        grid-template-areas:
            "moc moc moc camp "
            "ban ban ban camp"
            "zap zap zap camp"
            "car car car car";
        gap: 10px 10px;

    }

}

.seccion_productos h2 {
    font-family: pacifico, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 2rem;
    padding: 20px;
    text-align: center;
}

.seccion_productos_articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjeta_zapato {
    width: 230px;
    height: 330px;
    border: 2px none black;
    border-radius: 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.tarjeta_zapato img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.tarjeta_zapato_boton {
    background-color: rgb(220, 165, 93);
    color: antiquewhite;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 5px;
}


.tarjeta_zapato_boton:hover {
    border: rgb(204, 146, 81) 2px solid;
    background-color: antiquewhite;
    color: rgb(215, 120, 24);
}

.invisible {
    background-image: url(../assets/img/dor1_hover.jpg);
    opacity: 0;
}

.invi {
    width: 100%;
    height: 100%;
}

.invi img:last-child {
    display: none;
}

.invi:hover img:last-child {
    display: block;
}

.invi:hover img:first-child {
    display: none;
}


.button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    height: 30px;
    width: 80px;
    text-align: center;

}

.button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


.item_resumen_compras {
    display: flex;
}

.boton_borrar {
    margin-left: 5px;
    height: auto;
}



/* CARRITO */

.area-carrito {
    grid-area: car;
    background-color:rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}




.contenedor_producto_carrito {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    row-gap: 5px;
    

}



.producto_carrito{
    display: flex;
    justify-content: center;
}

.foto_producto_carrito {
    width: 100px;
    height: 100px;
}

.foto_producto_carrito img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.texto_producto_carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px 0 20px;
}

.boton_producto_carrito {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(112, 112, 255);
}

.boton_producto_carrito:hover {
    color: blue;
}


.cantidad_producto_carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cantidad_producto_carrito span{
    font-size: 0.7rem;
}




.cantidad_producto_carrito button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(149, 115, 52);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.btn_cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.cantidad_producto_carrito button:hover{
    color: rgb(91, 71, 33);
}

.cantidad_producto_carrito .menos{
    font-size: 2.5rem;
}


.precio_producto_carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}